@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

body {
  padding-bottom: 40px; /* this makes up padding for the sticky footer if the page happens to scroll */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.nu-hero.uk-cover-container h1 {
  font-size: 3.2rem;
  letter-spacing: 5px;
  font-family: 'Raleway', sans-serif;
}

.nu-hero.uk-cover-container p {
  font-family: 'Raleway', sans-serif;
}

.nu-hero.uk-cover-container .uk-position-cover {
  z-index: 1;
}

.nu-hero.uk-cover-container .uk-container {
  width: 200px;
}

.nu-cursor-pointer {
  cursor: pointer;
}

.nu-position-bottom-fixed {
  position: fixed !important;
  max-width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

.nu-resize-none {
  resize: none;
}

.nu-hidden {
  display: none;
}

.nu-invisible {
  visibility: hidden;
}

.nu-error-text {
  min-height: 1em;
}

#nu-input-node {
  height: 220px;
}

#nu-output-node {
  height: 275px; /* this value is recalculated during App.init() in main.js, this initial value is just to stop any jarring height changes on load */
}

.nu-footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nu-footer-list li {
  display: inline;
}

.nu-footer-list li::before {
  content: ' | ';
}

.nu-footer-list li:first-child::before {
  content: '';
}
