<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nusion Converter</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
        rel="stylesheet">

<body>
    <section class="bg-gray">
        <div class="grid-hero container grid-lg text-center" id="overview">
            <h1>Nusion Converter</h1>
            <h2 class="subtitle">Convert nodes between The Foundry's <strong>Nuke</strong> and Blackmagic <strong>Fusion</strong>!</h2>
        </div>
    </section>

    <section>
        <div class="container grid-lg">
            <div class="columns">
                <div class="column col-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-header">
                            <div class="panel-title">Nuke</div>
                        </div>

                        <div class="panel-body">
                            <div class="columns">
                                <div class="column col-12">
                                    <div class="input-group-resolution">
                                        <div class="input-group-resolution__label input-group-resolution--pad">
                                            <label class="form-label" for="input-width">Resolution:</label>
                                        </div>
                                        <div class="input-group-resolution__input input-group-resolution--pad">
                                            <input type="number" class="form-input" id="input-width" value=1920 placeholder="Width">
                                        </div>
                                        <div class="input-group-resolution__cross input-group-resolution--pad">
                                            x
                                        </div>
                                        <div class="input-group-resolution__input input-group-resolution--pad">
                                            <input type="number" class="form-input" id="input-height" value=1080 placeholder="Height">
                                        </div>
                                        <div class="input-group-resolution__button input-group-resolution--pad input-group-resolution--justify-end">
                                            <button id="btn-res-help" class="btn btn-link">[?]</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="columns">
                                <div class="column col-12">
                                    <textarea name="text" class="form-input" id="input-node" placeholder="Paste Nuke node here"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <button id="btn-convert" class="btn btn-primary" value="Convert">Convert</button>
                            <button id="btn-clear" class="btn btn-secondary" value="Clear">Clear</button>

                            <button id="btn-list" class="btn btn-link">Supported Nodes</button>
                            <button id="btn-about" class="btn btn-link">About</button>
                        </div>
                    </div>
                </div>


                <div class="column col-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-header">
                            <div class="panel-title">Fusion</div>
                        </div>

                        <div class="panel-body">
                            <div class="columns">
                                <div class="column col-12">
                                    <textarea class="form-input" id="output-node" placeholder="Fusion node will appear here"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <button id="btn-copy" class="btn btn-success" value="Copy">Copy to Clipboard</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- About modal -->
    <div id="modal-about" class="modal">
        <a class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a class="btn btn-clear float-right btn-about-close" aria-label="Close"></a>
                <div class="modal-title h5">About</div>
            </div>
            <div class="modal-body">
                <div class="content">
                  Project Roadmap:
                  <pre>
                    - Add more supported nodes
                    - Multiple node support
                    - Keyframes
                    - Full script conversion
                  </pre>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link btn-about-close">Close</button>
            </div>
        </div>
    </div>

    <!-- Supported Nodes modal -->
    <div id="modal-list" class="modal">
        <a class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a class="btn btn-clear float-right btn-list-close" aria-label="Close"></a>
                <div class="modal-title h5">Supported Nodes</div>
            </div>
            <div class="modal-body">
                <div class="content">
                  <strong>Nuke to Fusion:</strong>
                  <pre>
                    Blur
                    Transform (Coming soon!)
                    ColorCorrect (Coming soon!)
                  </pre>

                  <strong>Fusion to Nuke:</strong>
                  <pre>
                    None yet! :)
                  </pre>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link btn-list-close">Close</button>
            </div>
        </div>
    </div>

    <!-- Resolution Help Modal -->
    <div id="modal-res-help" class="modal">
        <a class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a class="btn btn-clear float-right btn-res-help-close" aria-label="Close"></a>
                <div class="modal-title h5"></div>
            </div>
            <div class="modal-body">
                <div class="content">
                  <strong>Why is resolution needed?</strong>

                  Certain effects and coordinates are relative to the project resolution.

                  The resolution specs aren't included when nodes are copy-pasted and will need to be manually entered in order for an accurate conversion.
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-link btn-res-help-close">Close</button>
            </div>
        </div>
    </div>

    <footer class="section section-footer bg-primary">
        <div class="docs-footer container grid-lg text-center">
            <i>
                Check out this project on <a href="https://github.com/ontyj/nusion">GitHub</a>, or
                read about my other projects at <a href="http://jontypressinger.co.za/">jontypressinger.co.za</a>! · <span
                    class="version">v0.0.1</span>
            </i>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</html>
