<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nusion Converter</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="nu-hero uk-height-large uk-cover-container uk-light">
        <img src="https://unsplash.it/1920/1080/?random" alt="nusion-cover" uk-cover>
        <div class="uk-overlay-primary uk-position-cover"></div>
        <div class="uk-position-cover uk-text-center uk-flex uk-flex-center uk-flex-middle uk-flex-column">
            <h1 class="uk-text-light uk-text-uppercase">Nusion</h1>
            <p class="uk-text-large uk-text-light">Convert nodes between The Foundry's <strong>Nuke</strong> and Blackmagic <strong>Fusion!</strong></p>
            <div class="uk-margin">
                <a class="uk-button uk-button-primary uk-button-large" href="#nu-about-modal" uk-toggle>About</a>
                <a class="uk-button uk-button-default uk-button-large" href="#nu-supported-modal" uk-toggle>Notes</a>
            </div>
        </div>
    </div>

    <div class="uk-section">
        <div class="uk-container">
            <div class="uk-grid-small uk-height-match uk-height-1-1" uk-grid>

                <div class="uk-width-1-2@s">
                    <div class="uk-background-muted uk-padding uk-height-1-1">
                        <form class="uk-grid-small uk-height-1-1" uk-grid>
                            <div class="uk-width-1-1@s">
                                <legend class="uk-legend">Nuke</legend>
                            </div>

                            <div>
                                <div class="uk-grid-small uk-child-width-expand@s uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        Resolution
                                    </div>
                                    <div>
                                        <input id="input-width" class="uk-input" type="text" placeholder="Width">
                                    </div>
                                    <div>
                                        <input id="input-height" class="uk-input" type="text" placeholder="Height">
                                    </div>
                                    <div class="uk-width-auto">
                                        <span class="nu-cursor-pointer" uk-icon="info" uk-toggle="target: #nu-resolution-modal"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-1-1">
                                <textarea id="input-node" class="uk-textarea nu-resize-none" rows="7" placeholder="Paste Nuke code here"></textarea>
                            </div>

                            <div class="uk-width-1-1">
                                <button id="btn-convert" class="uk-button uk-button-primary">Convert</button>
                                <button id="btn-clear" class="uk-button uk-button-default">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="uk-width-1-2@s">
                    <div class="uk-background-muted uk-padding uk-height-1-1">
                        <form class="uk-grid-small uk-height-1-1" uk-grid>
                            <div class="uk-width-1-1@s">
                                <legend class="uk-legend">Fusion</legend>
                            </div>
                    
                            <div class="uk-width-1-1">
                                <!-- TODO: write a bit of code to match the height of these textareas -->
                                <textarea id="output-node" class="uk-textarea nu-resize-none" rows="10" placeholder="Paste Nuke code here"></textarea>
                            </div>

                            <div class="uk-width-1-1">
                                <button id="btn-copy" class="uk-button uk-button-default">Copy to Clipboard</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="nu-position-bottom-fixed uk-background-muted uk-text-center uk-padding-small">
        <p class="uk-margin-remove">
            Check out this project on 
            <a class="uk-link-muted" href="https://github.com/ontyj/nusion" target="_blank">GitHub</a>, 
            or read about my other projects at 
            <a class="uk-link-muted" href="http://jontypressinger.co.za/" target="_blank">jontypressinger.co.za</a> 
            &mdash; v0.0.1
        </p>
    </div>

    <!-- resolution modal -->
    <div id="nu-resolution-modal" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Why is resolution needed?</h2>
            </div>
            <div class="uk-modal-body">
                <p>Certain effects and coordinates are relative to the project resolution.</p>
                <p>The resolution specs aren't included when nodes are copy-pasted and will need to be manually entered in order for an accurate conversion.</p>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </div>
        </div>
    </div>

    <!-- notes modal -->
    <div id="nu-supported-modal" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Supported Notes</h2>
            </div>
            <div class="uk-modal-body">
                <p>Nuke to Fusion</p>
                <ul class="uk-list uk-list-disc">
                    <li>Transform</li>
                    <li>ColorCorrect (Coming soon!)</li>
                    <li>Blur (Coming soon!)</li>
                </ul>
                <p>Fusion to Nuke</p>
                <ul class="uk-list uk-list-disc">
                    <li>None yet ;)))</li>
                </ul>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </div>
        </div>
    </div>

    <!-- about modal -->
    <div id="nu-about-modal" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">About</h2>
            </div>
            <div class="uk-modal-body">
                <p>Projet Roadmap</p>
                <ul class="uk-list uk-list-disc">
                    <li>Add more supported nodes</li>
                    <li>Multiple node support</li>
                    <li>Keyframes</li>
                    <li>Full script conversion</li>
                </ul>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>